.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(127, 127, 127, .2), rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/app1.jpg') center center no-repeat;
    background-size: cover;

    .main-img {
        position: absolute;
        @include vcenter;
        width: 230px;

        &.right {
            left: 60%;
        }
        &.left {
            left: 90%;
        }
    }
    .main-logo {
        margin-bottom: 25px;
    }
}
.main-holder {
    .main-downloadButton {
        width: 150px;

        &:hover {
            transition: 0.1s;
            opacity: .5;
        }
    }
}
.split {
    position: relative;
    margin: 0;
    padding: 0;

    .main-holder {
        @include vcenter;
    }
}
/*=============================================
=           Steps         =
=============================================*/
.steps {
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/test.jpeg') center center no-repeat;
    background-size: cover;
    height:100vh;
    text-align:center;

}
.steps-img {
    width:230px;
    margin-top:50px;
}
.steps-icons {
    width:80px;
    margin-right:20px;
}
.steps-list {
    margin:0;
    padding:0;
    list-style: none;
    margin-top:55px;
    li {
        padding-top:50px;
        text-align:left;
        color:$color-white;

    }

}

/*==================================
=            VIDEO TOUR            =
==================================*/

.how-it-works {
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/test1.jpg') center center no-repeat;
    background-size: cover;
    height:100vh;
    text-align:center;
    p {
        color:#999;
    }
    
}






